body {
    font-family:Impact;
    vertical-align:top;
}

table {
    border-color: black;
    border-style: ridge;
    background-color: lightgray;
    width: 100%;
}

.hidden {
    display: none !important;
}